* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'AirbnbCereal', sans-serif;
}
a {
    text-decoration: none;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url('/assets/fonts/AirbnbCereal_W_Bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'AirbnbCereal';
    src: url('/assets/fonts/AirbnbCereal_W_Bk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url('/assets/fonts/AirbnbCereal_W_Blk.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url('/assets/fonts/AirbnbCereal_W_Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url('/assets/fonts/AirbnbCereal_W_Md.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'AirbnbCereal';
    src: url('/assets/fonts/AirbnbCereal_W_Blk.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: #ffffff;
    color: #333;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
  
header {
    background-color: #ffffff;
    color: #222222;
    padding: 1rem 1rem 0 1rem;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main {
    margin-top: 110px;
    padding: 0 120px 0 120px;
    margin-bottom: 80px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #6cb9fd;
    color: #ffffff;
    font-weight: 500;
    padding: 1rem;
    font-weight: 500;
}

.logo-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-button {
    font-size: larger;
    font-weight: 800;
    width: 120px;
    height: 60px;
    border-radius: 25px;
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-decoration: none;
}

.login-button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    scale: 1.05;
}

.login-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

nav {
    width: 40%;
    margin: 30%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 0px;
    position: fixed;
    background-color: #ffffff;
    top: 80px;
    border-color: #000000;
    border-width: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 15px;
    flex: 1;
}

nav a {
    color: #858585;
    font-size: larger;
    font-weight: 600;
    padding: 10px 15px;
    transition: box-shadow 0.1s ease-in-out, background-color 0.3s ease-in-out;
    width: 150px;
    text-align: center;
    border-radius: 20px;
}

nav a:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    background-color: #dddddd;

}


.place-card {
    margin: 20px;
    border-radius: 10px;
    width: 400px;
    height: 430px;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
    color: inherit;
    transition: scale 0.2s ease-in-out;
    overflow: hidden;
}

.place-card:hover {
    scale: 1.05;
}

.place-card a {
    text-decoration: none;
    color: inherit;
}

.place-card-image {
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.place-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.place-card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.place-card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.description {
    color: #aaa8a8;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    max-height: calc(1.4em * 3);
    text-align: justify;
}

.price-card {
    font-size: 16px;
    color: #333;
    text-align: right;
    margin-top: auto;
}

#places-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    width: 800px;
    max-width: 100%;
}


section {
    display: flex;
    line-height: 45px;
    justify-content: space-around;
}

#filter {
    display: block;
    text-align: center;
}

.detail-button {
    width: 40%;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    background-color: #6cb9fd;
    color:#fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: inline-block;
}

.detail-button:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1)
}

select {
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

#place-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#place-details > img {
    width: 900px;
    height: auto;
    max-width: 100%;
}

#place-details p {
    margin-top: 20px;
    line-height: 1.9;
    text-align: justify;
    width: 900px;
    max-width: 100%;
}

#place-details > .detailedPrice {
    text-align: right;
}

/**  Login Form **/
#login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

#login-form label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#login-form h2 {
    text-align: center;
    font-size: 44px;
    font-weight: bolder;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#login-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

#login-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #6CB9FD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#login-form button:hover {
    background-color: #6cb9fdea;
}

/* Register form */
#register-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

#register-form label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#register-form h2 {
    text-align: center;
    font-size: 44px;
    font-weight: bolder;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#register-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

#register-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #00ae48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#register-form button:hover {
    background-color: #6cb9fdea;
}

.separator-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.separator {
    position: relative;
    width: 400px;
    border-top: 1px solid #d3d3d3;
    margin-top: 10px;
    margin-bottom: 15px;
}

.separator span {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 0 10px;
    color: #888;

}

.separator-header {
    position: relative;
    width: 120%;
    border-top: 1px solid #d3d3d3;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: -10%;
}

.separator-header span {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 0 10px;
    color: #888;
}

/* Google and Facebook button */
.social-login-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 400px;
    margin: 0 auto;
}

.social-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 10px 0;
    position: relative;
}

.social-login-btn img {
    width: 30px;
    left: 10px;
    position: absolute;
}

.google-btn:hover {
    background-color: #ff260097;
    color: white;
}

.facebook-btn:hover {
    background-color: #0051ff87;
    color: white;
}

.apple-btn:hover {
    background-color: #8f8d8d;
    color: rgb(255, 255, 255);
}

.flip-container {
    perspective: 1000px;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.front, .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

.switch-form {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.switch-form a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.switch-form a:hover {
    text-decoration: underline;
}

/* Review section css */
#add-review button {
    padding: 12px 24px;
    background: linear-gradient(135deg, #6c63ff, #48c6ef);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
  
#add-review button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
    transition: all 0.4s ease;
}
  
#add-review button:hover::before {
    left: 100%;
}
  
#add-review button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.detailedTitle {
    font-size: 38px;
    margin-bottom: 15px;
}

.detailedPrice {
    font-size: 34px;
    text-align: right;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-style: italic;
}
  
.amenity {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.amenity::after {
    content: attr(data-alt);
    position: absolute;
    top: -50px;
    left: -10px;
    background-color: #1613db;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.amenity:hover::after {
    opacity: 1;
}


.amenity img {
    width: 40px;
    height: 40px;
    fill: red;
}


  